.adress__info{
        font-size: 14px;
        line-height: 20px;
        color: $dark-grey;
        font-weight: normal;
        font-family: Arial;
}


.adress__advertisment{
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.adress .container {
  outline: 2px solid #68B738;
}

@media (max-width: $mobile-width-only) {
  .adress  {
    height: 112x;
    display: flex;
    align-items: center;
}
  }
}
