.adress {

    .adress__info{
        font-size: 14px;
        line-height: 20px;
        color: $dark-grey;
        font-weight: normal;
        font-family: Arial;
    }
}

.adress__advertisment{
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}
