.features {
  .features__heading {
    font-size: 36px;
    line-height: 40px;
    font-weight: normal;
  }
  .features__list {
    padding: 0; /*Правильный сброс стилей списка?*/
  }
  .features__item {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    list-style: none;
  }
}

.features__heading {
  margin: 0;
}

.features .container {
  outline: 2px solid #68B738;
}

@media (max-width: $mobile-width-only) {
  .features__item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: $tablet-width) and (max-width: 1399px) {
  .features .container{
    height: 676px;
  }
  .features__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features__item{
    width: 237px;
    height: 280px;
    outline: 2px solid #68B738;
  }
}

@media (min-width: $desktop-width) {
  .features__list{
    display: flex;
    justify-content: space-between;
}
  .features__item{
    width: 230px;
    height: 280px;
    outline: 2px solid #68B738;
  }
}
