.footer__social {
    .footer__social-list{
        list-style: none;
    }
    }

    .footer__academy{
     .footer__academy-logo{
         font-size: 16px;
         line-height: 18px;
     }
    }
