.form {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}
  .form__lead {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .form__heading {
    font-size: 24px;
    line-height: 26px;
    font-weight: normal;
    text-transform: none;
  }
  .form__description{
    font-family: Arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-transform: none;
  }
  .form__button{
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    line-height: 20px;
    background-color: $basic_green;
  }
  .form__input{
    text-transform: uppercase;
    color: $darkest-grey;
  }

  .content .container {
    outline: 2px solid #68B738;
  }

  @media (min-width: $desktop-width) {
    .form{
      display: flex;
      flex-wrap: wrap;
    }
    .form__block:nth-child(-n + 2) {
      width: 520px;
    }
    .form__block:nth-child(3) {
      width: 1020px;
      display: flex;
      flex-wrap: wrap;
    }
    .owner-contact {
      width: 100%;
    }
    .form__block:nth-child(4) {
      width: 100%;
    }
    .form__text-fields .form__input{
      width: 100%;
    }
  }

