.header {

  .header__logo {
    background-color: white;
    text-decoration: none;
  }
  .header__logo-icon {
    text-decoration: none;
  }
  .header__logo-name {
    text-decoration: none;
  }
}

