.programms {
  .programms__block {
    background-color: $basic_grey;
  }
  .programms__heading {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
  }
  .programms__paragraph {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
  }
  .programms__link {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 16px;
  }
}


.programms__heading {
  margin: 0;
}


.programms .container {
  outline: 2px solid #68B738;
 }



@media (max-width: $mobile-width-only) {
  .programms__block  {
    height: 266px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1399px) {
  .programms .container{
    height: 100%;
  }
  .programms__block {
    height: 372px;
  }
}
@media (min-width: $desktop-width) {
  .programms .container{
    display: flex;
    height: 370px;
  }
}
