.story {
  .story__heading {
    font-size: 36px;
    line-height: 40px;
    font-weight: normal;
  }
  .story__paragraph {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
  }
}


